.banner{
    background-image: var(--js-header-bg-banner);
    border-top: var(--js-border-2);
    border-bottom: var(--js-border-1);
}

.banner h1{
    background: var(--js-header-bg-title);
    background-clip: text;
    -webkit-background-clip: text;
}

button {
    color: var(--js-primary-color);
    border-image: var(--js-btn-gradient);
    border: var(--js-border-2);
}

button:hover {
    background-image: var(--js-btn-gradient);
}