#course-content{
    width: 800px;
    text-align: center;
}

#course-content h2{
    color: #ffc000;
}

.module{
    border: 1px solid #ffc000;
    box-shadow: inset 3px -3px 9px rgba(219, 199, 83, 0.5);
}

.module:hover{
    background-image: linear-gradient(#ffd966, #a78000);
}

#transform-world{
    background-image: url(../images/woman-code.png);
    border-top: 1px solid #ffc00080;
    border-bottom: 1PX solid #ffc00080;
}

#transform-world p{
    text-shadow: 3px 2px #ffc000;
}

#professional-challenges h2{
    color: #ffc000;
}