.banner{
    background-image: var(--css-header-bg-banner);
    border-top: var(--css-border-2);
    border-bottom: var(--css-border-1);
}

.banner h1{
    background: var(--css-header-bg-title);
    background-clip: text;
    -webkit-background-clip: text;
}

button {
    color: var(--css-primary-color);
    border-image: var(--css-btn-gradient);
    border: var(--css-border-2);
}

button:hover {
    background-image: var(--css-btn-gradient);
}