#course-content h2{
    color: var(--css-primary-color);
}

.module{
    border: var(--css-border-1);
    box-shadow: inset 3px -3px 9px var(--css-secundary-color);
}

.module:hover{
    background-image: var(--css-btn-gradient);
}

#transform-world{
    background-image: url(/assets/images/global/man-code.jpg);
    border-top: var(--css-border-1);
    border-bottom: var(--css-border-1);
}

#transform-world p{
    text-shadow: 3px 2px var(--css-secundary-color);
}

#professional-challenges h2{
    color: var(--css-primary-color);
}